
html, body {
    height: 100%;
}
main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
    min-height:100%;
    max-width:100%;
}
.or-seperator {
    margin-top: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
}
.or-seperator i {
    padding: 0 10px;
    background: #ffffff;
    position: relative;
    top: -11px;
    z-index: 1;
}



.tip {
    display:None;
}

.form-group a:hover + .tip {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 100%;
  margin-bottom:10px;
  line-height: 20px;
  padding: 8px;
  font-size: 14px;
  text-align: left;
  z-index: 999;
  color: black;
  background: #f8f9fa;
  border-left: 1px solid #017bff;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.tip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  top: 22px;
  left: -23px;
}

i{
    border-width: 0 0 0 0 !important;

}

.adverb {
  background: #c4e3f3;
}

.qualifier {
  background: #c4e3f3;
}

.passive {
  background: #c4ed9d;
}

.complex {
  background: #e3b7e8;
}

.hardSentence {
  background: #f7ecb5;
}

.veryHardSentence {
  background: #e4b9b9;
}

.counter {
  position: relative;
  padding: 5% 5%;
  margin: 5% 0 0 5%;
  border-radius: 8px;
}
#left {
  width: 75%;
  position: absolute;
  left: 2.5%;
}
main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

blockquote {
    max-width:600px;
    text-align: center;
    padding-left: 5px;
    margin:0 auto;
    width:auto;
    display:table
}

.name
{
    text-align: left;
    margin-left: 222.5px;
}
.box {
    width: 600px;
    height: 200px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: lightblue;
}
.indent
{
    text-align: left;
    margin-left: 277px;
}

.name1
{
    text-align: left;
    margin-left: 110px;
    margin-right: 110px
}
.label-txt {
    float: left;
}

.label-line {
    float: right;
    background: #000;
    height:50px;
	width:1px;
    margin-left: 5px;
}

.label-percent {
    float: right;
    margin-left: 5px;
}
.bar-step {
    position:absolute;
    margin-top:-20px;
	z-index:1;
    font-size:12px;
}
i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.resize{
    height: 75%;
    width: 75%;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}


dl:nth-of-type(odd) {
    background: #fafafa;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.contributeTable:nth-of-type(even) {
    background: #f2f2f2;
}

#mce-EMAIL::placeholder{
    color: white;
}
.disabledButton:hover {
    text-decoration: none;
    filter: brightness(85%);
}

.contentButton:hover {
    text-decoration: none;
    color: DodgerBlue;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .form-control-underlined::placeholder {
      color: white;
  }
.main{
    overflow: hidden;
}
.dark::placeholder{
    color:gray;
}

.custom-shape-divider-bottom-1595009839 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1595009839 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1595009839 .shape-fill {
    fill: #FFFFFF;
}
.custom-shape-divider-bottom-1595011423 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1595011423 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1595011423 .shape-fill {
    fill: #FFFFFF;
}
.home_page:nth-of-type(odd) {
    background: linear-gradient(#000d24, #0c4d9c);
    color: white;
    min-height: 100vh;
}

.border20 {
    border-radius:20px;
}
.border10 {
    border-radius:10px;
}
.b20t {
    border-radius:20px 20px 0 0;
}

.index_info {
    padding: 30% 15%;
}

.index_info div {
    font-weight: 200;
    font-size: 5.0em;
}

.index_info p {
    font-weight: 200;
    font-size: 1.3em;
}

.VueCarousel-slide, h2{
    min-height: 9vh;
}
.tagx{
    color: gray;
}
.tagx:hover{
    color: darkred;
    text-decoration: none;
}

#science{

    /*position: absolute;*/
    /*left: 53.54%;*/
    /*right: 4.31%;*/
    /*top: 23.73%;*/
    /*bottom: 23.83%;*/
    background: url(science.png);
}



#gene{
    /*position: absolute;*/
    /*left: 48.33%;*/
    /*right: -12.85%;*/
    /*top: 43.55%;*/
    /*bottom: -25%;*/

    margin-top: 10%;
    background: url(gene.png);
    background-blend-mode: luminosity;
}



.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 2vh;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 0px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

/*#beamerSelector{*/
/*    background-color: #017bff;*/
/*}*/


#preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #ffffff;
}

#title{
    font-size: 2.5em;
}

#footer-content{
    color: white;
}

#content-box{
    width: 25%;
}

#profile-stuff{
    text-align: center;
    padding: 2%;
}

#wrap{
    display: flex;
    justify-content: center;
    width: 103%;
}
#profile-stuff1{
    width: 100%;
    padding: 1%;
}
.footer{
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

@media screen and (max-width: 1025px){
#read{
    padding-right: 0 !important;
    padding-left:0 !important;
}
}



@media screen and (max-width: 481px){
.navbar-brand{
    display: none;
}
#landing{
    font-size: 3vh !important;
}
.landing_row{
    padding: 5vh;
    padding-bottom: 20vh;
}
#for_people{
    font-size: 4vh !important;
}
.landing_box{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.searchResults{
    margin-top: 0vh !important;
}
#likes {
    padding-right: 30px;
}
#title {
    font-size: 1.5em;
}
#read{
    padding-right: 0 !important;
    padding-left:0 !important;
}
#content-box {
    width: 50%;
}
#profile-stuff{
    width: 100%;
}
#profile-stuff1{
    width: 100%;
}
#status, .img{
    transform: scale(0.75, 0.75);
}
#status{
    margin-right: 1vh;
}
svg{
    height:75%;
}
#scroll2 img{
    height:75%;
    margin-top:0vh;
}
.mb-2{
    font-size:2.0em !important;
}
small.text-muted{
    display:none;
}
img{
    margin-top:-10vh;
}
.h-25{
    display:none;
}
.index_info{
    padding-bottom:0vh;
}
.col.m-0.pr-5{
    padding-left:3.0rem;
}
}
