{% extends "layout.html" %}
{% block title %}
    About
{% endblock %}
{% block main %}
<div class="main">
    <div class="container">
        <div class="col-md-8 mx-auto border border20 my-5 p-5 text-left lato" style="box-shadow:5px 5px 20px ">
            <h2>Our founding mission</h2>
            <h3>Overview</h3>
            <div>
                Research discoveries should be accessible to everyone. Science is a process that serves the public and is nurtured by collective
                brainpower. However, this is not made possible in the status quo due to <br>
                <ol>
                    <li>Paywall - We understand that academic journals charge money to support their publishing and gold-standard peer reviewing. 
                        The literal ideas and discoveries produced by research are public knowledge and should be freely available. 
                        The premium charged by journals is outdated and does not go back to science and inhibits the free flow of ideas necessary for innovation.
                        <span class="blue">dcyphr</span> makes it free for the average person to engage with research discoveries.
                    </li><br>
                    <li>Jargon - Decoding academic research articles into a readable form requires time and labor. This process of decoding 
                        can either happen once on the writer’s side or N times for N readers on the reader’s side. The status quo opts for the 
                        latter -- in doing so, choosing an O(N) solution over an O(1) solution. <span class="blue">dcyphr</span> takes advantage of the Internet to 
                        cultivate a platform for the O(1) solution.</li>
                </ol>
                The three-pronged consequence of this inefficiency (and why you should help) is <br><br>
                <ol>
                    <li>The public disengages from science and research because it is inaccessible, 
                        contributing to widespread scientific misinformation (highlighted by the COVID-19 pandemic).</li><br>
                    <li>
                        Students, especially from under-resourced backgrounds, are deterred from breaking into STEM.
                    </li><br>
                    <li>
                        Researchers spend a large amount of time sifting through literature that could instead be spent making discoveries.
                        Also, researchers become hyperspecialized which stifles the interdisciplinary efforts where discoveries in research area A 
                        may unlock a whole set of potentials in research area B. 
                    </li>
                </ol>
                dcyphr aims to solve this by establishing by creating a platform and community for sharing distillations of academic 
                research. <br><br>
                <h3>How it works</h3>
                <ol>
                    <li>Users curate the platform by requesting research that they wish to see distilled.</li><br>
                    <li>Our NLP model (currently in development) generates an automatic distillation for the user.</li><br>
                    <li>The model output is pruned by human distillers to be published on the website and to reinforce the model.</li><br>
                </ol> <br>
                <picture class="w-100">
                    <source type="image/webp" srcset="{{ url_for('static', filename='pages/dcyphrnet.webp') }}">
                    <img class="w-100 pb-5" src="{{ url_for('static', filename='pages/dcyphrnet.png') }}" alt="">
                </picture>
                Join us! <a href="https://bit.ly/30Co0P9" target="_blank" class="blue">Slack</a>
                | <a href="https://mailchi.mp/a424ac90b061/subscribebytes" target="_blank" class="blue">Newsletter</a> | <a href="https://medium.com/@jeffreyma" target="_blank" class="blue">Medium</a> | <a href="https://www.instagram.com/d.cyphr/" target="_blank" class="blue">Instagram</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}