{% extends "layout.html" %}
{% block title %}
    Suggestions
{% endblock %}
{% block main %}
<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em; ">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">AI Suggestions</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px"></p>
    </div>
    <form method="POST" class="form-group">
        <input class="form-control" type="text" name="doi" placeholder="doi"><br><p></p>
        <input class="form-control" type="text" name="title" placeholder="section title i.e. Discussion"><br><p></p>
        <textarea class="form-control" name="text" id="text" cols="100" rows="10" placeholder="original text"></textarea><br><p></p>
        <button class="form-control btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}