{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div class="container p-0 mx-auto">
        <div class="jumbotron rounded bg-white">
        <h1 style="color: #017bff">Oops! Please refresh the page.</h1>
        <p>{{ message }}</p>
        </div>
        {% set random = (range(1, 4) | random) %}
        {% if random == 1 %}
        <img class="resize" src="{{ url_for('static', filename='americans.png') }}" alt="">
        {% elif random == 2 %}
        <img class="resize" src="{{ url_for('static', filename='berniememe.png') }}" alt="">
        {% elif random == 3%}
        <img class="resize" src="{{ url_for('static', filename='lookatme.png') }}" alt="">
        {% else %}
        <img class="resize" src="{{ url_for('static', filename='scrolloftruth.png') }}" alt="">
        {% endif %}
    </div>
{% endblock %}
