{% extends "layout.html" %}
{% block title %}
    Approvals
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em; ">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">Approvals</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px">Please approve these freshly made summaries.</p>
    </div>
{% if length == 0 %}
<br>
<b>No summaries to approve!</b>

{% else %}

{% for i in range(length) %}

<h2><a href="/approvals/{{ articles[i]['id'] }}">{{ articles[i]["article"] }}</a></h2>

{% endfor %}

{% endif %}
</div>
{% endblock %}