{% extends "layout.html" %}

{% block title %}
    Bookmarks
{% endblock %}
{% block main %}

<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em;">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">Bookmarks</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em;  border-bottom: 1px solid black; padding: 10px">These are all the current bookmarks by users.</p>

    </div>
    <br>
    <div class="px-4">
        <table class="table table-striped contributeTable">
            <thead>
                <div class="row">
                    <div class="col" style="font-size: 1.4em; color: #017bff">User</div>
                    <div class="col" style="font-size: 1.4em; color: #017bff">Article</div>
                    <div class="col-3" style="font-size: 1.4em; color: #017bff">DOI</div>
                    <div class="col-3" style="font-size: 1.4em; color: #017bff">Bookmarked Since</div>
                    <div class="col-3" style="font-size: 1.4em; color: #017bff"></div>
                </div>
                <!--<th style="color: DodgerBlue">Article</th>-->
                <!--<th style="color: DodgerBlue">PMID Number</th>-->
            </thead>
            {% for i in range(length) %}
            <form method="POST" class="form">
            <tr class="">
                <div class=" border-top border-bottom row contributeTable" style="line-height: 40px" >
                    <div class="col" style="font-size: 1em"><a href="/public/{{ info[i]['bookmarked'] }}">{{ info[i]["username"] }}</a></div>
                    <div class="col" style="font-size: 1em"><a href="/edit/{{ info[i]['id'] }}">{{ info[i]["article"] }}</a></div>
                    <div class="col-3" style="font-size: 1em">{{ info[i]["doi"] }}</div>
                    <div class="col-3" style="font-size: 1em">{{ info[i]["bookmarked_date"] }}</div>
                    <div class="col-3" style="font-size: 1em"><button class="btn btn-link btn-lg" type="submit" value="{{ info[i]['id'] }}" name="unbookmark"><i class="fa fa-bookmark border-0"></i></button></div>

                </div>
            </tr>
            </form>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}