{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}
<div class="container mt-5">
    <ul style="text-align: left; list-style: none;">
        {{ p }}
        {% for i in range(length) %}
        <li class="p-3" style="">
            <div>
                <div>
                    <a class="disabledButton" href="{{links[i]}}" style="color: #017bff; font-size: 1.7em; font-weight: 200;">{{ summaries[i]["article"] }}</a>
                </div>
                <div class="pl-1" style="font-size: 0.8em">
                    Dcyphr-d by <a class="disabledButton" href="public/{{ summaries[i]['id'] }}" style="color: #ff2f2b">@{{ summaries[i]["username"] }}</a>
                </div>
                <div class="p-2" style="font-size: 0.95em">
                    {{ preview[i] }}...
                </div>
            </div>
            <div class=""></div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}