{% extends "layout.html" %}
{% block filter %}
<script>
    function filterFunction() {
          var input, filter, a, i;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          div = document.getElementById("myDropdown");
          a = div.getElementsByClassName("dropdown-item");
          for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              a[i].style.display = "";
            } else {
              a[i].style.display = "none";
            }
          }
        }
</script>
{% endblock %}


{% block title %}
    Browse
{% endblock %}

{% block main %}

<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em; ">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">Browse</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px">Take a look to see if the paper you are reading is here. If not, submit a request in the "Request" tab! </p>
    </div>

    <div>
        <div class="text-left pl-5">
            <div class="btn-group">
            Sort By: &nbsp <a style="cursor:pointer; color: #017bff" onclick="w3.sortHTML('#id01', 'li')">Hot</a> &nbsp | &nbsp <a style="cursor:pointer; color: #017bff" onclick="w3.sortHTML('#id01', '.p-3', 'a')">A-Z</a>

            </div>
            <div class="float-right">

            <div class="dropdown show">Filter by:
              <a class="dropdown-toggle" style="color: #017bff" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Tags
              </a>

              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" id="myDropdown">
                <input type="text" class="form-control" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                {% for i in range(tags_length) %}

                <a class="dropdown-item" href="/tag/{{ tags[i]['id'] }}/0" style="color: #017bff">{{ tags[i]['title'] }}</a>

                {% endfor %}
              </div>
            </div>
            </div>


        </div>
        <ul style="text-align: left; list-style: none;" id="id01">
            {{ p }}
            {% for i in range(page_length) %}
            <li class="p-3" style="">
                <div class="row border-bottom border-dark pb-3">
                    <div class="col-1 text-center" id="likes" style="color: grey; font-size: 1.25em; width: 6%; margin: auto 0">

                        {{ summaries[i]['likes'] }}
                        <p>likes</p>
                    </div>
                    <div class="col">
                        <div>
                            <a class="disabledButton" href="/read/{{ summaries[i]['id'] }}" style="color: #017bff; font-size: 1.4em; font-weight: 200;">{{ summaries[i]["article"] }}</a>
                        </div>
                        <div class="pl-1" style="font-size: 0.8em">
                            dcyphr-d by <a class="disabledButton" href="/public/{{ summaries[i]['user'] }}" style="color: Red">{{ summaries[i]["first"] }} {{ summaries[i]["last"] }}</a>
                        <div class="p-2" style="font-size: 0.95em">
                            {{ preview[i] }}...
                        </div>
                    </div>
                </div>
                <div class=""></div>
            </li>
            {% endfor %}
        </ul>
    </div>


    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page == 0 and x %}
        <li class="page-item">
        {% elif page == 0 %}
        <li class="page-item disabled">
        {% endif %}
          <a class="page-link" href="/browse/{{ page - 1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for i in range(number) %}
        <li class="page-item"><a class="page-link" href="/browse/{{ i }}">{{ i+1 }}</a></li>
        {% endfor %}
        {% if page == number - 1 %}
        <li class="page-item disabled">
        {% else %}
        <li class="page-item">
        {% endif %}
          <a class="page-link" href="/browse/{{ page + 1 }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>


</div>



{% endblock %}