{% extends "layout.html" %}
{% block title %}
    Classroom Landing Page
{% endblock %}
{% block main %}
<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em; ">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">Clasroom Landing Page</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px">Help contribute articles to combat misinformation about COVID-19. An educated public is key to the fight. Find out more <a href="https://docs.google.com/document/d/1uRrkxKQpI4aZVJrmxJKyMrlSyyKv3E2IyEW-kRiuo7U/edit?ts=5e8d2bf4" target="_blank">here.</a></p>
    </div>
    <div>
        <h1>
        Build a dcyphr classroom.
        </h1>
        <button>
            Start now
        </button>
    </div>

</div>

{% endblock %}