<h2>Abstract</h2>
<p style="color:gray">// What is the overall purpose of the experiment? What are the findings reported in the abstract?</p>
<h2>Aims</h2>
<p style="color:gray">// State the main goals of the paper in 1-2 sentences.</p>
<h2>Introduction</h2>
<p style="color:gray">// Provide a background of the topic. Introduce concepts to prepare the reader for the rest of the article. Define any important terms and concepts.</p>
<h2>Results</h2>
<p style="color:gray">// Report the major results of the article. Explain supporting figures.</p>
<h2>Discussion</h2>
<p style="color:gray">// Explain the meaning and the scientists' interpretation of the results</p>
<h2>Methods</h2>
<p style="color:gray">// Explain the primary methods of the paper.</p>
<h2>Conclusion</h2>
<p style="color:gray">// Discuss major takeaways and next steps from the paper.</p>