{% extends "layout.html" %}


{% block summernote %}
<script src="https://cdn.tiny.cloud/1/0alr4b654wmjwk41jr9eeu0xprprdf4mv7veduzfoc3c9rjw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: '#mytextarea',
      menubar: '',
      inline: true,
      plugins: 'code, link',
      default_link_target: "_blank",
      link_quicklink: true,
      toolbar: 'undo redo | styleselect removeformat | bold italic underline | alignleft aligncenter alignright alignjustify | outdent indent | link | code'
    });
</script>
<script type="text/javascript">
$(function (){
    $("#save").bind('click', function(){
        var summary = $("#mytextarea").html();
        $.post($SCRIPT_ROOT + '/_submission/{{ summary_id }}', {summary: summary, submit_button: 'save'});
        $('#draft').removeAttr('hidden');
    });
    $("#finish").bind('click', function(){
        var summary = $("#mytextarea").html();
        $.post($SCRIPT_ROOT + '/_submission/{{ summary_id }}', {summary: summary, submit_button: 'finish'});
        $('#finishModal').modal('toggle')
    });
});
</script>
<!-- <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css" rel="stylesheet" defer>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js" defer></script>
<script>
        var HelloButton = function (context) {
            var ui = $.summernote.ui;

            // create button
            var button = ui.button({
                contents: '<i class="fa fa-wikipedia-w border-0"/></i>',
                tooltip: 'Link to any Wiki page',
                click: function () {
                 // invoke insertText method with 'hello' on editor module.
                var highlight = window.getSelection();
                var html = "<a href='https://en.wikipedia.org/wiki/" + highlight + "' target='_blank'>" + highlight + "</a>";
                context.invoke('editor.pasteHTML', html);
            }
            }  );

            return button.render();   // return button as jquery object
        };

        var removeHighlights = function(context){
            var ui = $.summernote.ui;

            // create button
            var button = ui.button({
                contents: '<i class="fa fa-eraser border-0"/></i>',
                tooltip: 'Remove readability suggestions',
                click: function () {
                 // invoke insertText method with 'hello' on editor module.
                var highlight = $('#summernote').summernote('code');
                var html = highlight.replace(/adverb|passive|veryHardSentence|complex|hardSentence/g, "");
                $('#summernote').summernote('code', html);
                
            }
            }  );

            return button.render();
        }





    $(document).ready(function() {
        $('#summernote').summernote({
        toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['fontname', ['fontname']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help']], ['mybutton', ['wiki', 'comment']]
        ],
        buttons: {
            wiki: HelloButton,
            comment: removeHighlights
        }
        });
    });
</script>
<script>
    $(document).ready(function() {
        $("#summernote").summernote();
    }); -->
</script>
{% endblock %}


{% block title %}
    {{ article[0]["article"] }}
{% endblock %}

{% block main %}


<!-- <script type="text/javascript" src="{{ url_for('static', filename='hemingway.js') }}"></script> -->

<div class="container">

    <div class="modal fade" tabindex="-1" role="dialog" id="finishModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" style="color:#017bff">Awesome! You submitted your distillation! &#127881;</h5>
            </div>
            <div class="modal-body">
              <p>Our researchers are reviewing your article! Once it is approved, we will update you so you can share your hard work. In the meantime, consider contributing another article or relax and enjoy reading some of our distillations.</p>
            </div>
            <div class="modal-footer">
              <a class="btn btn-outline-primary" href="/tasks">I'm on a roll!</a>
              <a class="btn btn-outline-secondary" href="/">I'll pass.</a>
            </div>
          </div>
        </div>
    </div>
    <div class="alert alert-success alert-dismissible fixed-top" id="draft" role="alert" hidden>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        Draft saved! &#10084;
    </div>
    <div class="col-md-10 mx-auto">
        <div class="text-left">
                
            <h2 class="blue lato py-5" style="font-weight: 300;">
                <a href="{{ article[0]['link'] }}" target="_blank">{{ article[0]["article"] }}</a>
            </h2>
        </div>


        <div class="text-left">
            <div class="row">
                <div class="col-12 col-lg-4 collapse lato" id="guidelines">
                    <h2 style="color: #017bff; font-weight: 300;" class="lato">Some helpful tips</h2>
                    <ol class="p-2 collapse" style="font-size: 0.9em;" id="guidelines">
                        <li class="mb-3">
                            <p class="mb-1">Minimize nominalization. Don't use words that are not nouns as nouns.</p>
                            <p class="mb-1 pl-2">Nominalized: The commencement of the ceremony will begin at noon.</p>
                            <p class="mb-1 pl-2">Better: The ceremony will commence at noon.</p>
                        </li>
                        <li class="mb-3">
                            <p class="mb-1">Keep subjects near verbs near objects.</p>
                        </li>
                        <li class="mb-3">
                            <p class="mb-1">Use simple word substitutions. (Under 3 Syllables)</p>
                        </li>
                        <li class="mb-3">
                            <p class="mb-1">Restrict sentences to one idea per sentence.</p>
                        </li>
                        <li class="mb-3">
                            <p class="mb-1">Make dependent clauses that appear in a middle of a sentence a separate sentence.</p>
                            <p class="mb-1 pl-2"><strong>Example:</strong> The ball, which was blue, rolled down the hill.</p>
                            <p class="mb-1 pl-2"><em>Better:</em> The ball was blue. It rolled down the hill.</p>
                            <p class="mb-1 pl-2"><em>Best:</em> The blue ball rolled down the hill.</p>
                        </li>
                        <li class="mb-3">
                            <p class="mb-1">Qualify all the pronouns you use.</p>
                        </li>
                        <li  class="mb-3">
                            <p class="mb-1">Introduce paragraphs with main idea sentence.</p>
                        </li>
                        <li  class="mb-3">
                            <p class="mb-1">State only the ideas of the original text.</p>
                        </li>
                        <li  class="mb-3">
                            <p class="mb-1"><b>Shortcut:</b> &#8984;Cmd + K opens up link menu.</p>
                        </li>
                    </ol>
                    <!-- <div class="text-left lato">

                    
                        
                            <button class="btn btn-link" data-toggle="collapse" data-target="#format" style="text-decoration: none;"><h2 class="lato" style="color: #017bff; font-weight:300;">Readability</h2></button>
                            <button class="btn btn-default bg-white" onclick="format()" style="color: #017bff">Test Readability</button>
                            
                        <div id="format" class="collapse">
                            <div id="level" style="color: green">
                            </div>
                            <div id="adverb" class="adverb counter"># of adverbs</div>
                            <div id="passive" class="passive counter"># of passive voice</div>
                            <div id="complex" class="complex counter"># of complex sentences</div>
                            <div id="hardSentence" class="hardSentence counter"># of hard sentences</div>
                            <div id="veryHardSentence" class="veryHardSentence counter"># of very hard sentences</div>
                        </div>
                    </div> -->


                </div>

                
                <div class="col">
                    <div class="row">
                        <div class="mr-auto d-inline float-left text-center">
                            <button class="btn btn-default bg-white" data-toggle="collapse" data-target="#guidelines" style="color:#017bff">
                                <p >&#8249; Reveal tips &#9997;</p>
                            </button>
                        </div>
                    </div>

                    
                    

                    <!-- <form method="POST" action="/submission/{{ summary_id }}"></form> -->
                        <div id="mytextarea" name="summary">{{summary|safe}}</div>
                        <div>
                            <div class="container text-center">
                                <button class="btn btn-outline-secondary border20 my-3" type="submit" name="submit_button" id="save" value="save">Save</button>
                                <button class="btn btn-outline-primary border20 my-3" type="submit" name="submit_button" id="finish" value="finish">Finish</button>
                            </div>
                        </div>
                    <!-- </form> -->

                </div>

                
                

            </div>
        </div>
    </div>    
</div>
</div>
{% endblock %}

