{% extends "layout.html" %}
{% block title %}
    COVID-19 Write-a-thon
{% endblock %}
{% block main %}
<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em; ">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">COVID-19 Write-a-thon</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px">Help contribute articles to combat misinformation about COVID-19. An educated public is key to the fight. Find out more <a href="https://docs.google.com/document/d/1uRrkxKQpI4aZVJrmxJKyMrlSyyKv3E2IyEW-kRiuo7U/edit?ts=5e8d2bf4" target="_blank">here.</a></p>
    </div>

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScU7DbMWRdVNuY5Ds3r-AvwvPRNg-GPUsuqD1fD1VvKM9ENCA/viewform?embedded=true" width="640" height="1283" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

</div>

{% endblock %}