<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" defer>
        <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' defer>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link href="/static/styles.css" rel="stylesheet" defer>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css" defer>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" defer></script>
        <script src="https://www.w3schools.com/lib/w3.js" defer></script>

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" defer>


        <!-- End of Async Drift Code -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162663603-1"></script>
        <script defer>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-162663603-1');
        </script>

        <script defer>
        	var beamer_config = {
        		product_id : 'FACxsuQA21706' //DO NOT CHANGE: This is your product code on Beamer
        	};
        </script>
        <script type="text/javascript" src="https://app.getbeamer.com/js/beamer-embed.js" defer="defer"></script>
        <script>
          document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages = document.querySelectorAll("picture.lazy");
            var lazyloadThrottleTimeout;

            function lazyload () {
              if(lazyloadThrottleTimeout) {
                clearTimeout(lazyloadThrottleTimeout);
              }

              lazyloadThrottleTimeout = setTimeout(function() {
                  var scrollTop = window.pageYOffset;
                  lazyloadImages.forEach(function(img) {
                      if(img.offsetTop < (window.innerHeight + scrollTop)) {
                        img.src = img.dataset.src;
                        img.classList.remove('lazy');
                      }
                  });
                  if(lazyloadImages.length == 0) {
                    document.removeEventListener("scroll", lazyload);
                    window.removeEventListener("resize", lazyload);
                    window.removeEventListener("orientationChange", lazyload);
                  }
              }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
          });
        </script>

        <title>dcyphr | {% block title %}{% endblock %}</title>

    </head>

    <body>
        {% block navbar %}{% endblock %}


        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="">
            {% block main %}{% endblock %}
        </main>
    </body>
    <br>
<!-- Footer -->
<footer class="page-footer font-small mt-auto" style="background: #08356f; position: relative; bottom: 0; width: 100%">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->

        <div class="col-md-6 mt-md-0 mt-3" id="footer-content">

        <!-- Content -->
        <h4 class="text-lowercase">dcyphr</h5>
        <p>See a bug? Send a message to team@dcyphr.org</p>
        </div>

      <div class="col-6 mt-md-4 float-right">

        <!-- Links -->

          <!-- Facebook -->
          <div class="float-right">
          <a id="footer-content" target="_blank" href="https://www.facebook.com/Dcyphr-106767984321570/">
            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x border-0"></i>
          </a>
        </div>

          <!--Instagram-->
        <div class="float-right">
          <a id="footer-content" target="_blank" href="https://www.instagram.com/d.cyphr/">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x border-0"> </i>
          </a>
        </div>

        <div class="float-right">
          <a id="footer-content" target="_blank" href="https://www.linkedin.com/company/dcyphr/">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x border-0"> </i>
          </a>
        </div>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div id="footer-content" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://www.dcyphr.org" style="color:white" target="_blank"> www.dcyphr.org </a>
  </div>
  <!-- Copyright -->
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us8.list-manage.com","uuid":"1c38534c3ddafced299e23a1c","lid":"52012213fb","uniqueMethods":true}) })</script>
</footer>
<!-- Footer -->
</html>
