{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block main %}

<div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">COVID-19 Write-a-thon 4/25 12PM EST to 4/26 12PM EST</h4>
      <p><strong>$100 prize to the winning team!</strong> Register <a href="/form" target="_blank">here</a>.</p>
      <p>Teams of up to 2 people. More instructions can be found <a href="https://docs.google.com/document/d/1uRrkxKQpI4aZVJrmxJKyMrlSyyKv3E2IyEW-kRiuo7U/edit?ts=5e8d2bf4" target="_blank">here</a>.</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div id="searchbar" class="h-50">
        <section class="mb-5 h-auto">


        <br><br>

        <h1 class="display-3"><font color="#017bff">dcyphr</font></h1><br>
        <blockquote>
            <p>“Any fool can make things bigger, more complex, and more violent. It takes a touch of genius — and a lot of courage — to move in the opposite direction.”</p>
            <footer class="blockquote-footer">Albert Einstein</footer>
        </blockquote><br>
        <form action="/" method="POST">
        <div class="input-group col-sm-6 mx-auto">
            <input type="text" class="form-control" name="search" aria-label="Search" aria-describedby="searchbar">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
        </form>
        <br>
        <p><b>New to dcyphr?</b> Learn how to use the site <font color="#017bff"><a href="/about">here</a></font> or register <font color="#017bff"><a href="/register">here</a></font>.</p>
        </section>

        <div class="container h-50 mt-4 pt-4;">
            <div class= "row h-100">
                <div class="col-12 col-md-3 p-2 border" style="height: 250px">
                    <div class="container h-75">
                        <h5 class="card-title"><b>Browse</b></h5>
                        <p class="card-text p-2">Browse dcyphr-d scientific articles for your classes. All summaries are moderated by professionals for accuracy.</p>
                    </div>
                    <div class="container">
                        <a href="/browse" class="btn btn-primary">Browse</a>
                    </div>
                </div>
                <div class="col-12 col-md-3 p-2 border" style="height: 250px; margin: 0 auto">
                    <div class="container h-75">
                        <h5 class="card-title"><b>Contribute</b></h5>
                        <p class="card-text p-2">Become a dcyphr-r and build your skills in scientific communication and to help make science more accessible for everyone.</p>
                    </div>
                    <div class="container">
                        <a href="/tasks" class="btn btn-primary">Contribute</a>
                    </div>
                </div>
                <div class="col-12 col-md-3 p-2 border" style="height: 250px">
                    <div class="container h-75">
                        <h5 class="card-title"><b>Request</b></h5>
                        <p class="card-text p-2">Don't see the article that you need dcyphr-d? Wish to dcyphr an article but its not requested yet? Click here to put in a request.</p>
                    </div>
                    <div class="container">
                        <a href="/request" class="btn btn-primary">Request</a>
                    </div>
              </div>
            </div>
        </div>
    </div>

    <div>
        <section class="w3-container w3-half w3-content my-5 p-5">
            <h2 class="display-4 text-primary">mission</h2>
            <p class="w3-justify" style="line-height: 40px;">The purpose of science is to explain the natural world to us. However, in the status quo, the knowledge and tools of science is limited to a select few that have the resources to learn it. The language in scientific articles is unnecessarily complex and full of jargon. This makes it hard even for those that have the education to keep up with the literature.</p>
            <p>Thus, <b style="color: #017bff">dcyphr</b>: an open-source platform that makes science more accessible to the public.</p>
        </section>
        <section class="w3-container w3-half w3-content my-5 p-5">
            <h2 class="display-4 text-primary">top dcyphr-rs</h2>
            <table class="table table-striped">
                <thead>
                    <th>Username</th>
                    <th>Points</th>
            </thead>
            {% for i in range(lead_length) %}
            <tr>
                <td><a href="/public/{{ leaderboard[i]['id'] }}">{{ leaderboard[i]['username'] }}</a></td>
                <td>{{ leaderboard[i]["points"] }}</td>
            </tr>
            {% endfor %}
            </table>
        </section>
    </div>

        <div id="teammembers" class="p-5 mt-5">
        <section class="w3-row-padding w3-center" >
            <h2 class="display-4 mb-5 text-primary">team</h2>
            <article class="w3-third">
                <p><b style="color: black">Jeffrey Ma</p></b>
                <p><b style="color: #017bff">Founder and CEO</p></b>
                <p>jeffrey.ma.jzm5@yale.edu</p>
            </article>
            <article class="w3-third">
                <b style="color: black"><p>Onyedikachi Uche</p></b>
                <b style="color: #017bff"><p>Research Director</p></b>
                <p>onyedikachi.uche@yale.edu</p>
            </article>
            <article class="w3-third">
                <p><b>Aidan Neziri</p></b>
                <b style="color: #017bff"><p>Business Director</p></b>
                <p>aidan.neziri@yale.edu</p>
            </article>
        </section>
        <br><br>
        <br><br>
        <section class="w3-row-padding w3-center">
            <article class="w3-quarter">
                <b><p>Ivan Chan</p></b>
                <p>ivan.chan@yale.edu</p>
            </article>
            <article class="w3-quarter">
                <b><p>Janet Hsu</p></b>
                <p>janet.hsu@yale.edu</p>
            </article>
            <article class="w3-quarter">
                <b><p>Jalil Morris</p></b>
                <p>jalil.morris@yale.edu</p>
            </article>
            <article class="w3-quarter">
                <b><p>Graham Stodolski</p></b>
                <p>graham.stodolski@yale.edu</p>
            </article>
        </section><br><br>
        </div>
</div>
{% endblock %}
