<!DOCTYPE html>

<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">


        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <link href="/static/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://www.w3schools.com/lib/w3.js"></script>

        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- include summernote bs4 css/js -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-bs4.min.js"></script>
        <script defer>
            window.VerifaliaWidgetConfig = {
            appKey: '72fe6c88d9ea43e4a8a32c6f70c0c25d',
            inputBindings: {
                autoWireup: true,
                debounceTime: 4000,
                preventSubmission: "invalid, throttled",
                appendHiddenFields: true,
                classNames: {
                    base: 'verifalia-field',
                    processing: 'verifalia-field-processing',
                    valid: 'verifalia-field-valid',
                    invalid: 'verifalia-field-invalid',
                    throttled: 'verifalia-field-throttled',
                    exception: 'verifalia-field-exception'
                },
            }
            };

        </script>
        <script defer
        src="https://unpkg.com/verifalia-widget@1.2.0/dist/verifalia-widget.js"
        integrity="sha512-KNWaWGZz1V4Hm+9e4pdMB0rJ/wOY3ifDIYdfnHyoRnAXtpTxvxU+beMZ6nO//qqPYWcm9uFlIA1eye6/BAnbjQ=="
        crossorigin="anonymous"></script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162663603-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-162663603-1');
        </script>

        <script>
        var HelloButton = function (context) {
            var ui = $.summernote.ui;

            // create button
            var button = ui.button({
                contents: '<i class="fa fa-wikipedia-w border-0"/></i>',
                tooltip: 'Link to any Wiki page',
                click: function () {
                 // invoke insertText method with 'hello' on editor module.
                var highlight = window.getSelection();
                var html = "<a href='https://en.wikipedia.org/wiki/" + highlight + "' target='_blank'>" + highlight + "</a>";
                context.invoke('editor.pasteHTML', html);
            }
            }  );

            return button.render();   // return button as jquery object
        };

    $(document).ready(function() {
        $('#summernote').summernote({
        toolbar: [
        ['style', ['style']],
        ['font', ['bold', 'underline', 'clear']],
        ['fontname', ['fontname']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['table', ['table']],
        ['insert', ['link', 'picture', 'video']],
        ['view', ['fullscreen', 'codeview', 'help']], ['mybutton', ['wiki']]
        ],
        buttons: {
            wiki: HelloButton
        }
        });
    });
        </script>

        <script>
            function filterFunction() {
                  var input, filter, a, i;
                  input = document.getElementById("myInput");
                  filter = input.value.toUpperCase();
                  div = document.getElementById("myDropdown");
                  a = div.getElementsByClassName("dropdown-item");
                  for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      a[i].style.display = "";
                    } else {
                      a[i].style.display = "none";
                    }
                  }
                }
        </script>






        <title>dcyphr: {% block title %}{% endblock %}</title>

    </head>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <a class="navbar-brand" href="/"><font color="#017bff">dcyphr</font></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/browse/0">Browse</a></li>
                        <li class="nav-item"><a class="nav-link" href="/request">Request</a></li>
                        <li class="nav-tem"><a class="nav-link" href="/method/0">Methods</a></li>
                        <li class="nav-item"><a class="nav-link" href="/tasks">Contribute</a></li>
                        <li class="nav-tem"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-tem"><a class="nav-link" href="/about">Help</a></li>

                        <form action="/" method="POST">
                            <div class="nav-item ml-md-3 mb-md-1 input-group">
                            <input type="text" class="form-control border border-dark" name="search" placeholder="Search...">
                        </div>
                        </form>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/profile/{{ session['user_id'] }}">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/browse/0">Browse</a></li>
                        <li class="nav-item"><a class="nav-link" href="/request">Request</a></li>
                        <li class="nav-tem"><a class="nav-link" href="/method/0">Methods</a></li>
                        <li class="nav-tem"><a class="nav-link" href="/tasks">Contribute</a></li>
                        <li class="nav-tem"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-tem"><a class="nav-link" href="/about">Help</a></li>


                        <form action="/" method="POST">
                        <div class="nav-item ml-3 mb-1 input-group">
                            <input class="form-control border border-dark" type="text" name="search" placeholder="Search...">
                        </div>
                        </form>


                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="">
            {% block main %}{% endblock %}
        </main>

        <script>
            $(document).ready(function() {
                $("#summernote").summernote();
            });
        </script>
    </body>
    <br>
<!-- Footer -->
<footer class="page-footer font-small mt-auto" style="background: #017bff; position: relative; bottom: 0; width: 100%">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->

        <div class="col-md-6 mt-md-0 mt-3" id="footer-content">

        <!-- Content -->
        <h4 class="text-lowercase">dcyphr</h5>
        <p>See a bug? Send a message to dcyphrteam@gmail.com</p>
        </div>

      <div class="col-6 mt-md-4 float-right">

        <!-- Links -->

          <!-- Facebook -->
          <div class="float-right">
          <a id="footer-content" target="_blank" href="https://www.facebook.com/Dcyphr-106767984321570/">
            <i class="fa fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x border-0"></i>
          </a>
        </div>

          <!--Instagram-->
        <div class="float-right">
          <a id="footer-content" target="_blank" href="https://www.instagram.com/d.cyphr/">
            <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x border-0"> </i>
          </a>
        </div>

        <div class="float-right">
          <a id="footer-content" target="_blank" href="https://www.linkedin.com/company/dcyphr/">
            <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x border-0"> </i>
          </a>
        </div>

        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div id="footer-content" class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> www.dcyphr.org</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</html>
