{% extends "layout.html" %}

{% block title %}
Methods
{% endblock %}

{% block main %}
<script src="https://cdn.tiny.cloud/1/0alr4b654wmjwk41jr9eeu0xprprdf4mv7veduzfoc3c9rjw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
      selector: '#mytextarea',
      menubar: '',
      plugins: 'code, link',
      default_link_target: "_blank",
      link_quicklink: true,
      toolbar: 'undo redo | styleselect removeformat | bold italic underline | alignleft aligncenter alignright alignjustify | outdent indent | link | code'
    });
</script>


<div class="container mt-5 lato">
    <div class="text-left pl-3" style="font-size: 1.8em;">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2"><span class="blue">Glossary</span>
        {% if session_len != 0 %}
        <button class="btn btn-outline-primary border10" data-target="#newmethod" data-toggle="collapse">+</button></div>
        {% endif %}
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px">A collection of terms we have dcyphr-d! Try  <b>&#x2318;cmd + f</b> what you are looking for.</p>
   </div>
   <form action="/addmethod" method="POST" class="collapse mx-auto" id="newmethod">
    <div class="form-group">
        <input type="text" style="border-radius: 0;" class="form-control" name="title" placeholder="Method name">
    </div>
    <div class="form-group">
        <textarea name="description" class="p-3 form-control" id="mytextarea" placeholder="Method description"></textarea><br>
    </div>
    <div class="form-group">
        <input class="btn btn-outline-primary" style="border-radius: 0;" type="submit" value="Add Method">
    </div>
   </form>

<ul style="text-align: left; list-style: none;">
    {% for i in range(length) %}
    <li>
        <div>
            <small>
                <a href="{{ methods[i]['id'] }}" class="blue">{{ methods[i]["name"] }}</a>
            </small>
        </div>
    </li>
    {% endfor %}
</ul>
</div>

{% endblock %}

<!--<ul style="list-style: none">-->
<!--        <li><dt><a href="{{ methods[i]['id'] }}">{{ methods[i]["name"] }}</a> </dt>-->
<!--        <ul style="list-style: none">-->
<!--            <li><dd>{{ preview[i]['substr'] }}...</dd></li>-->
<!--        </ul>-->
<!--        </li>-->
<!--    </ul>-->