{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block main %}
<div class="main" style="font-family:Lato">
    <div class="container mt-5" style="min-height: 100vh">
        <div class="row h-25">
            <div class="col-2">
                <i class="fa fa-user-circle border-0 fa-5x" aria-hidden="true" style="color: #017bff; margin-top: 10px"></i>
                {% if admin == 1 %}
                <p class="text-muted">Admin</p>
                {% endif %}
            </div>

            <div class="col-6 text-left">
                <h3 style="font-family: Georgia">{{ info[0]['first'] }} {{ info[0]['last'] }}
                {% if info[0]['verified'] == 1 %}
                <img src="https://img.icons8.com/nolan/30/verified-account.png" class="pb-2"/>
                {% endif %}
                </h3>
                <p class="">@{{ info[0]["username"] }}</p>
                <p>{{ info[0]['bio'] | safe }}</p>
                <a href="/bio/{{ user_id }}">Edit Bio</a>
            </div>

            <div class="col-4 text-left">
                <div class="h-25">
                </div>

                <div class="h-50" style="color: DodgerBlue">
                    <p>{{ points }} points</p>
                    <p>{{ length }} articles dcyphr-d</p>
                </div>
            </div>
        </div>

        <div class="row" style="min-height: 75%">
            <div class="my-5 mx-auto p-4 col-xl-10 col-12 border border-dark border20 text-left alternate" style="max-height: 50vh; overflow-y: scroll;">
                <h4 class="mt-0 border-bottom" style="font-family:Georgia"><strong>Contributions</strong></h4>
                {% for i in range(length) %}
                <div class="w-100 py-1 border-bottom pl-2">
                    {% if articles[i]["approved"] == 1 %}
                    <a class="disabledButton my-4" href="/read/{{ articles[i]['id'] }}" align="rights">{{ articles[i]["article"] }}</a><br>
                    {% else %}
                    <div class="disabledButton my-4" align="rights">{{ articles[i]["article"] }} <i>Pending...</i></div><br>
                    {% endif %}
                </div>
                
                {% endfor %}
            </div>

            <div class="col d-xl-none">
            </div>

            <div class="col-xl-2 col-md-4 col-8 my-5" style="">
                <a href="/password" style="text-decoration:none">
                    <div class="w-100 btn btn-outline-primary border20 my-3">
                        Change Password
                    </div>
                </a>
                {% if admin == 1 %}
                <a href="/bookmarking" style="text-decoration:none">
                    <div class="w-100 btn btn-outline-primary border20 my-3">
                        Bookmarks
                    </div>
                </a>
                <a href="/approvalhome" style="text-decoration:none">
                    <div class="w-100 btn btn-outline-primary border20 my-3">
                        Approvals
                    </div>
                </a>
                <a href="/adminsuggestions" style="text-decoration:none">
                    <div class="w-100 btn btn-outline-primary border20 my-3">
                        Suggestions
                    </div>
                </a>
                {% else %}
                <a href="/bookmarks" style="text-decoration:none">
                    <div class="w-100 btn btn-outline-primary border20 my-3">
                        Bookmarks
                    </div>
                </a>
                {% endif %}

            </div>

            <div class="col d-xl-none">
            </div>
        </div>
    </div>
</div>
{% endblock %}
