{% extends "layout.html" %}

{% block title %}
    {{ info[0]["username"] }}
{% endblock %}

{% block main %}
<div class="main" style="height: 100vh; font-family: Lato">
    <div class="container mt-5" style="min-height: 100vh">
        <div class="row h-25">
            <div class="col-2">
                <i class="fa fa-user-circle border-0 fa-5x" aria-hidden="true" style="color: #017bff; margin-top: 10px"></i>
                {% if info[0]['admin'] == 1 %}
                <p class="text-muted">Admin</p>
                {% endif %}
            </div>

            <div class="col-6 text-left">
                <h3 style="font-family: Georgia">{{ info[0]['first'] }} {{ info[0]['last'] }}
                {% if info[0]['verified'] == 1 %}
                <img src="https://img.icons8.com/nolan/30/verified-account.png" class="pb-2"/>
                {% endif %}</h3>
                <p class="">@{{ info[0]["username"] }}</p>
                <p>{{ info[0]['bio'] | safe }}</p>
            </div>

            <div class="col-4 text-left">
                <div class="h-25">
                </div>

                <div class="h-50" style="color: DodgerBlue">
                    <p>{{ info[0]["points"] }} points</p>
                    <p>{{ length }} articles dcyphr-d</p>
                </div>
            </div>
        </div>

        <div class="row" style="min-height: 75%">
            <div class="m-5 p-4 col border border-dark text-left border20 alternate">
                <h4 class="mt-0 border-bottom" style="font-family: Georgia"><strong>Contributions</strong></h4>
                {% for i in range(length) %}
                <div class="w-100 py-1 border-bottom pl-2">
                    {% if articles[i]["approved"] == 1 %}
                    <a class="disabledButton my-4" href="/read/{{ articles[i]['id'] }}" align="rights">{{ articles[i]["article"] }}</a><br>
                    {% else %}
                    <div class="disabledButton my-4" align="rights">{{ articles[i]["article"] }}  <i>Pending...</i></div><br>
                    {% endif %}                
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}