{% extends "layout.html" %}

{% block title %}
    {{ summary[0]['article'] }}
{% endblock %}

{% block main %}
<script type="text/javascript">
    $(function() {
        $('#upvote').bind('click', function() {
            $(this).prop("disabled", true);
            $('#downvote').removeAttr('disabled');
            $.getJSON($SCRIPT_ROOT + '/_likes/{{ summary_id }}', function(data) {
                $("#likes").text(data);
            });
            return false;
        });
        $('#downvote').bind('click', function() {
            $(this).prop("disabled", true);
            $('#upvote').removeAttr('disabled');
            $.getJSON($SCRIPT_ROOT + '/_dislikes/{{ summary_id }}', function(data) {
                $("#likes").text(data);
            });
            return false;
        });
        $('#endorse').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_endorse/{{ summary_id }}', function(data) {
                $(this).prop("disabled", true);
                if(data != null){
                    var num = +$('#endorser_count').text() + 1;
                    $('#endorser_count').text(num);
                    $('#first').text(data['first']);
                    $('#last').text(data['last']);
                    $('#bio').text(data['bio'].slice(0, 120).concat('...'));
                    $('#new_endorser').removeAttr('hidden');
                    $('#hidden_button').removeAttr('hidden');
                }
                else {
                    return false;
                }
            });
            return false;
        });
        $('#add_tag').bind('click', function() {
            $.getJSON($SCRIPT_ROOT + '/_add/{{ summary_id }}', {
                tag: $('#tag_name').val()
            }, function(data) {
                var newURL = `/tag/${data['tag_id']}/0`;
                $('#new_tag_title').attr('href', newURL);
                $('#new_tag').attr('name', `delete_tag_${data['tag_id']}`)
                $('#new_tag').removeAttr("hidden");
                $('#new_tag_title').text(data['tag_name']);
                $('#tag_group').hide();
                $('#delete_tag_new').attr('name', data['tag_id'])
                return false;
            });
        });
        $('.tagx').bind('click', function() {
            var tag_id = $(this).attr('name')
            $.getJSON($SCRIPT_ROOT + '/_delete/{{ summary_id }}', {
                tag_id: tag_id
            }, function(data) {
                $(`a[name="${tag_id}"`).hide();
                $(`#delete_tag_button_${tag_id}`).hide();
                $(`div[name="delete_tag_${tag_id}"`).hide();
            });
        });
    });
</script>

<div class="container-fluid mb-5" id="read" style="padding-left:20vh; padding-right:20vh">
    <div class="row jumbotron m-xs-1 rounded bg-white text-left">

        <div class="col-md-9 col-xs-6">
            <p class="" style="color: #017bff; font-family: Lato" id="title">
                <a href="{{ summary[0]['link'] }}" target="_blank">{{ summary[0]['article'] }}</a>
                {% if endorsements | length == 0 %}
                <button class="btn btn-outline-primary border20" data-target="#endorsers" data-toggle="collapse" id="hidden_button" hidden><div id="endorser_count" class='d-inline'>0</div><i class="fa fa-check"></i></button>
                {% else %}
                <button class="btn btn-outline-primary border20" data-target="#endorsers" data-toggle="collapse"><div id="endorser_count" class="d-inline">{{ endorsements | length }}</div><i class="fa fa-check"></i></button>
                {% endif %}
            </p>
            {% if endorsements | length == 0 %}
            <div id="endorsers" class="collapse my-3">
                <div class="row px-3 pl-4 bg-light border-bottom" style="font-family: Georgia; color:black">
                    Endorsers
                </div>

                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato;">
                        <div class="col-12" style="font-size: 16px">
                            <div id="first" class="d-inline">placeholder</div><div id="last" class='d-inline'></div>
                            <div class="text-muted" style="font-size: 12px; display: inline"> &nbsp

                            <div id="bio" class='d-inline'></div></div>

                        </div>


                    </div>
            </div>
            {% else %}
            <div id="endorsers" class="collapse my-3">
                <div class="row px-3 pl-4 bg-light border-bottom" style="font-family: Georgia; color:black">
                    Endorsers
                </div>
                {% for i in range(endorsements | length) %}

                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato;">
                        <div class="col-12" style="font-size: 16px">
                            {{ endorsements[i]['first'] }} {{ endorsements[i]['last'] }}
                            {% if endorsements[i]['verified'] == 1 %}
                            <img src="https://img.icons8.com/nolan/18/verified-account.png" class="pb-2"/>
                            {% endif %}
                            <div class="text-muted" style="font-size: 12px; display: inline"> &nbsp;
                            {% if endorsements[i]['bio'] == None %}
                            {% else %}
                            {{ endorsements[i]['bio'][:120] }}...
                            {% endif %}
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato;" id="new_endorser" hidden>
                    <div class="col-12" style="font-size: 16px">
                        <div id="first" class="d-inline"></div><div id="last" class='d-inline'></div>
                        <div class="text-muted" style="font-size: 12px; display: inline"> &nbsp

                        <div id="bio" class='d-inline'></div></div>

                    </div>

                </div>
            </div>
                {% endif %}
        
            <p style="font-size: medium">


                <div class='d-inline'>
                    {% for i in range(tag_length) %}
                    <div class='btn btn-outline-secondary border20' name="delete_tag_{{tags[i]['id']}}">
                        <a href="/tag/{{tags[i]['id']}}/0" name="{{tags[i]['id']}}" id="delete_tag_button_{{tags[i]['id']}}">{{ tags[i]['title'] }}</a>
                        {% if z == "true" %}
                        <button name="{{tags[i]['id']}}" class="btn btn-link btn-sm m-0 pr-0 py-0 tagx">x</button>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class='btn btn-outline-secondary border20' id="new_tag" name="#" hidden>
                        <a href="#" id="new_tag_title" class='d-inline'></a>
                        <button id="delete_tag_new" class="btn btn-link btn-sm m-0 pt-0 pr-0 tagx">x</button>
                    </div>
                </div>
                

                {% if z == "true" %}
                <button data-toggle="collapse" data-target="#tag_group" class="btn btn-outline-primary btn-sm">+</button>

                <div id="tag_group" class="collapse">
                    <div class="input-group">
                        <div class="col-xs-2">
                            <input type="text" name="tag" class="tag form-control" id="tag_name" placeholder="add tag" list="datalist1">
                            <datalist id="datalist1">
                                {% for i in range(all_tags_len) %}
                                <option value="{{ all_tags[i]['title'] }}">
                                </option>
                                {% endfor %}
                            </datalist>
                        </div>
                    <div class="input-group-append">
                    <button type='submit' id="add_tag" class="btn btn-outline-primary btn-sm">Add</button>
                    </div>
                    </div>
                </div>

                {% endif %}
            </p>
            <p style="font-size: small;">
                <a href="/apa/{{ summary_id }}" style="color: #017bff">APA citation: <em style="color: black">{{ summary[0]['citation'] }}</em></a>
            </p>
            <p style="font-size: small;">
                <a href="/doi/{{ summary[0]['id'] }}" style="color: #017bff">DOI: <em style="color: black">{{ summary[0]['doi'] }}</em></a>
            </p>

            <p style="font-size: medium;">
                dcyphr-d by <font style="color: #017bff"><a href="/public/{{ summary[0]['user_id'] }}">{{ summary[0]['first'] }} {{summary[0]['last']}}</a></font> on {{ summary[0]['summary_date'] }}
                {% if summary[0]['verified'] == 1 %}
                <img src="https://img.icons8.com/nolan/25/verified-account.png" class="pb-2" title="Verified User"/>
                {% endif %}
            </p>

                <!-- <form action="/endorse/{{ summary[0]['id'] }}" method="POST" style="display:inline"> -->
                    {% if y == False %}
                    <button class="btn btn-outline-primary border20" type="submit" disabled><i class="fa fa-thumbs-up border-0"></i> Endorse</button>
                    {% else %}
                    <button class="btn btn-outline-primary border20" type="submit" id="endorse"><i class="fa fa-thumbs-up border-0"></i> Endorse</button>
                    {% endif %}
                <!-- </form> -->

                <a href="/edit/{{ summary_id }}">
                    {% if y  == False %}
                    <button class="btn btn-outline-primary border20" disabled>
                    {% else %}
                    <button class="btn btn-outline-primary border20">
                    {% endif %}
                        <i class="fa fa-pencil border-0"></i> Edit</button></a>
                <a href="/issues/{{ summary_id }}"><button class="btn btn-outline-primary border20"><i class="fa fa-shield border-0"></i> Issues</button></a>
                <a href="/history/{{ summary_id }}"><button class="btn btn-outline-primary border20"><i class="fa fa-cog border-0"></i> Activity</button></a>
                <button class="btn btn-outline-primary border20"data-target="#share" data-toggle="collapse"><i class="fa fa-share-alt border-0"></i> Share</button>


        <div class="collapse mt-2" id="share">
            <a class="w-inline-block social-share-btn fb" href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i style="color:#017bff" class="fa fa-facebook border-0 fa-lg"></i></a>
            <a class="w-inline-block social-share-btn tw" href="https://twitter.com/intent/tweet?" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=%20Check%20up%20this%20awesome%20content' + encodeURIComponent(document.title) + ':%20 ' + encodeURIComponent(document.URL)); return false;"><i style="color:#017bff" class="fa fa-twitter border-0 fa-lg"></i></a>
            <a class="w-inline-block social-share-btn lnk" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;"><i style="color:#017bff"class="fa fa-linkedin border-0 fa-lg"></i></a>
            <a class="w-inline-block social-share-btn email" href="mailto:?subject=&body=:%20" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' + encodeURIComponent(document.URL)); return false;"><i style="color: #017bff" class="fa fa-envelope fa-lg border-0"></i></a>
            <a class="w-inline-block social-share-btn redd" href="http://www.reddit.com/submit?url=&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;"><i style="color: #017bff" class="fa fa-reddit fa-lg border-0"></i></a>
        </div>
        </div>

        <div class="col-md-3 col-xs-6 text-center text-secondary" style="font-size: 1.9em; padding-top: 10px">
            <!-- <form method="POST" action="/likes/{{ summary_id }}"> -->
                {% if x == "true" %}
                <div><button class="btn btn-default bg-white pb-3" type="submit" name="like" value="like" id="upvote" disabled>
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span id="likes">{{ likes }}</span>
                <div><button class="btn btn-default bg-white pt-3" type="submit" name="dislike" value="dislike" id="downvote" disabled>
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% elif x == "enable-like" %}
                <div><button class="btn btn-default bg-white pb-3" type="submit" name="like" value="like" id="upvote">
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span id="likes">{{ likes }}</span>
                <div><button class="btn btn-default bg-white pt-3" type="submit" name="dislike" value="dislike" id="downvote"disabled>
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% elif x == "enable-dislike" %}
                <div><button class="btn btn-default bg-white pb-3" type="submit" name="like" value="like" id="upvote" disabled>
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span id="likes">{{ likes }}</span>
                <div><button class="btn btn-default bg-white pt-3" type="submit" name="dislike" value="dislike" id="downvote">
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% else %}
                <div><button class="btn btn-default bg-white" type="submit" name="like" value="like" id="upvote">
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span id="likes">{{ likes }}</span>
                <div><button class="btn btn-default bg-white" type="submit" name="dislike" value="dislike" id="downvote">
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% endif %}
            <!-- </form> -->

            <div class="my-3">
                <form method="POST" action="/flag/{{ summary_id }}">
                    <button class="btn btn-default bg-white" name="flag" value="flag">
                        <i class="fa fa-flag fa-2x border-0" style="color: #eb9534;"></i>
                        <div class="my-1" style="color: #3b3b39">Flag For Moderation</div>
                    </button>
                </form>
            </div>

            <div class="my-3" style="font-size: 0.7em">
                <div class="row px-3 pl-4 bg-light border-bottom" style="font-family: Georgia; color:black">
                    Contributors
                </div>
                {% if c_length == 0 %}
                <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato; background: rgb(251, 234, 194)">
                    <div class="col-12" style="font-size: 16px">
                            <a href="/public/{{ summary[0]['user_id'] }}" style="color: black">{{ summary[0]['first'] }} {{ summary[0]['last'] }}</a>
                            {% if summary[0]['verified'] == 1 %}
                            <img src="https://img.icons8.com/nolan/18/verified-account.png" class="pb-2"/>
                            {% endif %}
                            <p class="text-muted mb-0" style="font-size: 12px">{{ summary[0]['bio'][:40] }}...</p>
                    </div>
                </div>
                {% else %}
                {% for i in range(c_length) %}
                    {% if i == 0 %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato; background: rgb(251, 234, 194)">
                    {% elif i ==1 %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato; background: rgb(238, 238, 238)">
                    {% elif i == 2 %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato; background: rgb(240, 219, 198)">
                    {% else %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato;">
                    {% endif %}
                        <div class="col-12" style="font-size: 16px">
                            <a href="/public/{{ contributors[i]['user_id'] }}" style="color: black">{{ contributors[i]['first'] }} {{ contributors[i]['last'] }}</a>
                            {% if contributors[i]['verified'] == 1 %}
                            <img src="https://img.icons8.com/nolan/18/verified-account.png" class="pb-2"/>
                            {% endif %}
                            <p class="text-muted mb-0" style="font-size: 12px">{{ contributors[i]['bio'][:40] }}...</p>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>



    <div class="p-0 bg-light border border-dark" id="content-box" >
        <h1 class="" style="color: #017bff; font-family: Georgia" id="title">Contents</h1>
        <ul class="ml-3 text-left" style="list-style: none;">
            {% for i in range(title_length) %}
            <li><a class="contentButton" href="#{{ titles[i] }}" style="font-family: Lato">{{ i + 1 }}.{{ titles[i] }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="text-left border-bottom">

        <div id="summary" class="p-3 my-3">
            <p class="pl-4 text-weight-light" style="line-height: 40px; font-size: 20px;">
                {{summary_actual | safe}}
            </p>

        </div>


    </div>
    <!--<div style="position: relative">-->
    <!--<div onmouseout="document.getElementById('div1').style.display = 'none';" onmouseover="document.getElementById('div1').style.display = 'block';" class="bg-warning" style="position: absolute">-->
    <!--    some text-->
    <!--</div>-->
    <!--<div id="div1" style="display:none; position:absolute" class="card">-->
    <!--    some text to show-->
    <!--</div>-->
    <!--</div>-->


    <div class="container text-left mx-0">
        <div id="comments" class="p-3 my-3">


            <form method="POST" action="/comments/{{ summary_id }}" class="form">
                <div class="sticky-top form-group row">
                    <label for="comment" class="col-xs-2 col-form-label"><b>Leave a comment:</b> </label>
                    <div class="col">
                        <input type="text" name="comment" class="form-control text-wrap w-100" id="comment" placeholder="Write here...">
                    </div>
                    <div>
                        {% if y == "true" %}
                        <button class="btn btn-default" type="submit" value="{{summary_id}}" disabled>Post</button>
                        {% else %}
                        <button class="btn btn-default" type="submit" value="{{summary_id}}">Post</button>
                        {% endif %}
                    </div>
                </div>
            </form>

            {% for comment in comments %}
            {% if comment['reply'] == 1 and comment['last'] == 1 %}

                <div class="container" style="width: 80%">
                    <div id="{{comment['id']}}">
                        {{ comment['comment'] }} &mdash; <span class="text-danger"> <a href="/public/{{ comment['user_id'] }}">{{ comment['first'] }} {{ comment['last'][0] }}.</a></span> on <span class="text-danger">{{ comment['date'] }}</span>
                        <!--{% if y == "true" %}
                            <button style="float: right;" class="btn btn-default" type="submit" name="like" value="like" disabled>Like</button>
                        {% else %}
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="dislike_comment" value="dislike_comment">
                                <i class="fa fa-thumbs-o-down" style="color: #017bff;"></i></button>
                            <span style="float: right;">{{ comment['likes'] }}</span>
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="like_comment" value="like_comment">
                                <i class="fa fa-thumbs-o-up" style="color: #017bff;"></i></button>
                        {% endif %}-->


                    <button class="btn btn-default bg-white" data-toggle="collapse" data-target="#reply{{ comment['comment_id'] }}{{ comment['reply'] }}" style="color: DodgerBlue;"><i class="fa fa-reply-all border-0 fa-lg"></i>  Reply</button>

                    </div>

                    <form method="POST" action="/comments/{{ summary_id }}" class="collapse" id="reply{{ comment['comment_id'] }}{{ comment['reply'] }}">
                        <div class="sticky-top form-group row">
                            <div class="col">
                                <input type="text" name="reply" class="form-control text-wrap w-100" id="reply" placeholder="Reply here...">
                            </div>
                            <div>
                            {% if y == "true" %}
                                <button class="btn btn-default" type="submit" value="{{ comment['id'] }}" disabled>Post</button>
                            {% else %}
                                <button class="btn btn-default" type="submit" name="comment_button" value="{{ comment['comment_id'] }}">Post</button>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            {% elif comment['reply'] == 1 %}
                <div class="container" style="width: 80%">
                    <div>
                       {{ comment['comment'] }} &mdash; <span class="text-danger"> <a href="/public/{{ comment['user_id'] }}">{{ comment['first'] }} {{ comment['last'][0] }}.</a></span> on <span class="text-danger">{{ comment['date'] }}</span>
                        <!--{% if y == "true" %}
                            <button style="float: right;" class="btn btn-default" type="submit" name="like" value="like" disabled>Like</button>
                        {% else %}
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="dislike_comment" value="dislike_comment">
                                <i class="fa fa-thumbs-o-down" style="color: #017bff;"></i></button>
                            <span style="float: right;">{{ comment['likes'] }}</span>
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="like_comment" value="like_comment">
                                <i class="fa fa-thumbs-o-up" style="color: #017bff;"></i></button>
                        {% endif %}-->
                    </div>


                    <!--<form method="POST" class="form">
                        <div class="sticky-top form-group row">
                            <label for="reply" class="col-xs-2 col-form-label">Want to reply? </label>
                            <div class="col">
                                <input type="text" name="reply" class="form-control text-wrap w-100" id="reply" placeholder="Reply here...">
                            </div>
                            <div>
                            {% if y == "true" %}
                                <button class="btn btn-default" type="submit" value="{{ comment['id'] }}" disabled>Submit</button>
                            {% else %}
                                <button class="btn btn-default" type="submit" name="comment_button" value="{{ comment['comment_id'] }}">Submit</button>
                            {% endif %}
                            </div>
                        </div>
                    </form>-->
                </div>
            {% else %}
                <div class="container">
                    <div>
                         {{ comment['comment'] }} &mdash;<span class="text-danger"><a href="/public/{{ comment['user_id'] }}">{{ comment['first'] }} {{ comment['last'][0] }}.</a></span>  on <span class="text-danger">{{ comment['date'] }}</span>
                        <!--{% if y == "true" %}
                            <button style="float: right;" class="btn btn-default" type="submit" name="like" value="like" disabled>Like</button>
                        {% else %}
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="dislike_comment" value="dislike_comment">
                                <i class="fa fa-thumbs-o-down" style="color: #017bff;"></i></button>
                            <span style="float: right;">{{ comment['likes'] }}</span>
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="like_comment" value="like_comment">
                                <i class="fa fa-thumbs-o-up" style="color: #017bff;"></i></button>
                        {% endif %}-->


                    <button class="btn btn-default bg-white" data-toggle="collapse" data-target="#reply{{ comment['comment_id'] }}{{ comment['reply'] }}" style="color: DodgerBlue;"><i class="fa fa-reply-all border-0 fa-lg"></i>  Reply</button>
</div>


                    <form method="POST" action="/comments/{{ summary_id }}" class="form collapse hide" id="reply{{ comment['comment_id'] }}{{ comment['reply'] }}">
                        <div class="sticky-top form-group row">

                            <div class="col">
                                <input type="text" name="reply" class="form-control text-wrap w-100" id="reply" placeholder="Reply here...">
                            </div>
                            <div>
                            {% if y == "true" %}
                                <button class="btn btn-default" type="submit" value="{{ comment['id'] }}" disabled>Post</button>
                            {% else %}
                                <button class="btn btn-default" type="submit" name="comment_button" value="{{ comment['comment_id'] }}">Post</button>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            <hr>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}