{% extends "layout.html" %}

{% block title %}
    {{ article }}
{% endblock %}

{% block main %}

<div class="container-fluid mb-5" id="read" style="padding-left:20vh; padding-right:20vh">
    <div class="row jumbotron m-xs-1 rounded bg-white text-left">

        <div class="col-md-9 col-xs-6">
            <p class="" style="color: #017bff; font-family: Lato" id="title">
                <a href="{{ link }}" target="_blank">{{ article }}</a>
                {% if endorsements | length == 0 %}
                {% else %}
                <button class="btn btn-outline-primary border20" data-target="#endorsers" data-toggle="collapse">{{ endorsements[0]['count'] }}<i class="fa fa-check"></i></button>
                {% endif %}
            </p>
            {% if endorsements | length == 0 %}
            <div id="endorsers" class="collapse my-3">
                <div class="row px-3 pl-4 bg-light border-bottom" style="font-family: Georgia; color:black">
                    Endorsers
                </div>

                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato;">
                        <div class="col-12" style="font-size: 16px">
                            placeholder
                            <img src="https://img.icons8.com/nolan/18/verified-account.png" class="pb-2"/>
                            <div class="text-muted" style="font-size: 12px; display: inline"> &nbsp

                            placeholder...</div>

                        </div>


                </div>

            {% else %}
            <div id="endorsers" class="collapse my-3">
                <div class="row px-3 pl-4 bg-light border-bottom" style="font-family: Georgia; color:black">
                    Endorsers
                </div>
                {% for i in range(endorsements | length) %}

                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato;">
                        <div class="col-12" style="font-size: 16px">
                            {{ endorsements[i]['first'] }} {{ endorsements[i]['last'] }}
                            {% if endorsements[i]['verified'] == 1 %}
                            <img src="https://img.icons8.com/nolan/18/verified-account.png" class="pb-2"/>
                            {% endif %}
                            <div class="text-muted" style="font-size: 12px; display: inline"> &nbsp
                            {% if endorsements[i]['bio'] == None %}
                            </div>
                            {% else %}
                            {{ endorsements[i]['bio'][:120] }}...</div>
                            {% endif %}
                        </div>


                {% endfor %}
                </div>
                {% endif %}
            </div>
            <p style="font-size: medium">

                <form method="POST" style="display: inline-block">
                {% for i in range(tag_length) %}
                <a href="/tag/{{tags[i]['id']}}" class="btn btn-outline-secondary btn-sm border20">{{ tags[i]['title'] }}</a>
                {% if z == "true" %}
                <button type="submit" name="delete" value="{{tags[i]['id']}}" class="btn btn-outline-primary btn-sm">-</button>
                {% endif %}
                {% endfor %}
                </form>
                {% if z == "true" %}
                <button data-toggle="collapse" data-target="#add_tag" class="btn btn-outline-primary btn-sm" style="display: inline-block">+</button>

                <form method="POST" id="add_tag" class="collapse">
                    <div class="input-group">
                        <div class="col-xs-2">
                    <input type="text" name="tag" class="tag form-control" style="" placeholder="add tag" list="datalist1">
                    <datalist id="datalist1">
                        {% for i in range(all_tags_len) %}
                        <option value="{{ all_tags[i]['title'] }}">
                        </option>
                        {% endfor %}
                    </datalist>
                    </div>
                    <div class="input-group-append">
                    <button type='submit' class="btn btn-outline-primary btn-sm">Add</button>
                    </div>
                    </div>

                </form>

                {% endif %}
            </p>
            <p style="font-size: small;">
                <a href="/apa/{{ summary_id }}" style="color: #017bff">APA citation: <em style="color: black">{{ citation }}</em></a>
            </p>
            <p style="font-size: small;">
                <a href="/doi/{{ summary[0]['id'] }}" style="color: #017bff">DOI: <em style="color: black">{{ summary[0]['doi'] }}</em></a>
            </p>

            <p style="font-size: medium;">
                dcyphr-d by <font style="color: #017bff"><a href="/public/{{ summary[0]['user_id'] }}">{{ summary[0]['first'] }} {{summary[0]['last']}}</a></font>
                {% if summary[0]['verified'] == 1 %}
                <img src="https://img.icons8.com/nolan/25/verified-account.png" class="pb-2" title="Verified User"/>
                {% endif %}
            </p>

                <form action="/endorse/{{ summary[0]['id'] }}" method="POST" style="display:inline">
                    {% if y == False %}
                    <button class="btn btn-outline-primary border20" type="submit" disabled><i class="fa fa-thumbs-up border-0"></i> Endorse</button>
                    {% else %}
                    <button class="btn btn-outline-primary border20" type="submit"><i class="fa fa-thumbs-up border-0"></i> Endorse</button>
                    {% endif %}
                </form>

                <a href="/edit/{{ summary_id }}">
                    {% if y  == False %}
                    <button class="btn btn-outline-primary border20" disabled>
                    {% else %}
                    <button class="btn btn-outline-primary border20">
                    {% endif %}
                        <i class="fa fa-pencil border-0"></i> Edit</button></a>
                <a href="/issues/{{ summary_id }}"><button class="btn btn-outline-primary border20"><i class="fa fa-shield border-0"></i> Issues</button></a>
                <a href="/history/{{ summary_id }}"><button class="btn btn-outline-primary border20"><i class="fa fa-cog border-0"></i> Activity</button></a>
                <button class="btn btn-outline-primary border20"data-target="#share" data-toggle="collapse"><i class="fa fa-share-alt border-0"></i> Share</button>


        <div class="collapse mt-2" id="share">
            <a class="w-inline-block social-share-btn fb" href="https://www.facebook.com/sharer/sharer.php?u=&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><i style="color:#017bff" class="fa fa-facebook border-0 fa-lg"></i></a>
            <a class="w-inline-block social-share-btn tw" href="https://twitter.com/intent/tweet?" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=%20Check%20up%20this%20awesome%20content' + encodeURIComponent(document.title) + ':%20 ' + encodeURIComponent(document.URL)); return false;"><i style="color:#017bff" class="fa fa-twitter border-0 fa-lg"></i></a>
            <a class="w-inline-block social-share-btn lnk" href="http://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=" target="_blank" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;"><i style="color:#017bff"class="fa fa-linkedin border-0 fa-lg"></i></a>
            <a class="w-inline-block social-share-btn email" href="mailto:?subject=&body=:%20" target="_blank" title="Email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' + encodeURIComponent(document.URL)); return false;"><i style="color: #017bff" class="fa fa-envelope fa-lg border-0"></i></a>
            <a class="w-inline-block social-share-btn redd" href="http://www.reddit.com/submit?url=&title=" target="_blank" title="Submit to Reddit" onclick="window.open('http://www.reddit.com/submit?url=' + encodeURIComponent(document.URL) + '&title=' + encodeURIComponent(document.title)); return false;"><i style="color: #017bff" class="fa fa-reddit fa-lg border-0"></i></a>
        </div>
        </div>


        <div class="col-md-3 col-xs-6 text-center text-secondary" style="font-size: 1.9em; padding-top: 10px">
            <form method="POST">
                {% if x == "true" %}
                <div><button class="btn btn-default bg-white pb-3" type="submit" name="like" value="like" disabled>
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span style="">{{ likes }}</span>
                <div><button class="btn btn-default bg-white pt-3" type="submit" name="dislike" value="dislike" disabled>
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% elif x == "enable-like" %}
                <div><button class="btn btn-default bg-white pb-3" type="submit" name="like" value="like">
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span style="">{{ likes }}</span>
                <div><button class="btn btn-default bg-white pt-3" type="submit" name="dislike" value="dislike" disabled>
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% elif x == "enable-dislike" %}
                <div><button class="btn btn-default bg-white pb-3" type="submit" name="like" value="like" disabled>
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span style="">{{ likes }}</span>
                <div><button class="btn btn-default bg-white pt-3" type="submit" name="dislike" value="dislike">
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% else %}
                <div><button class="btn btn-default bg-white" type="submit" name="like" value="like">
                    <i class="fa fa-chevron-up border-0 fa-lg" style="color: #017bff;"></i></button></div>
                <span style="">{{ likes }}</span>
                <div><button class="btn btn-default bg-white" type="submit" name="dislike" value="dislike">
                    <i class="fa fa-chevron-down border-0 fa-lg" style="color: #017bff;"></i></button></div>
                {% endif %}
            </form>

            <div class="my-3">
                <form method="POST">
                    <button class="btn btn-default bg-white" name="flag" value="flag">
                        <i class="fa fa-flag fa-2x border-0" style="color: #eb9534;"></i>
                        <div class="my-1" style="color: #3b3b39">Flag For Moderation</div>
                    </button>
                </form>
            </div>

            <div class="my-3" style="font-size: 0.7em">
                <div class="row px-3 pl-4 bg-light border-bottom" style="font-family: Georgia; color:black">
                    Contributors
                </div>
                {% for i in range(c_length) %}
                    {% if i == 0 %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato; background: rgb(251, 234, 194)">
                    {% elif i ==1 %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato; background: rgb(238, 238, 238)">
                    {% elif i == 2 %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato; background: rgb(240, 219, 198)">
                    {% else %}
                    <div class="row px-3 pl-0 border-bottom text-left" style="font-family: Lato;">
                    {% endif %}
                        <div class="col-12" style="font-size: 16px">
                            <a href="/public/{{ contributors[i]['user_id'] }}" style="color: black">{{ contributors[i]['first'] }} {{ contributors[i]['last'] }}</a>
                            {% if contributors[i]['verified'] == 1 %}
                            <img src="https://img.icons8.com/nolan/18/verified-account.png" class="pb-2"/>
                            {% endif %}
                            <p class="text-muted mb-0" style="font-size: 12px">{{ contributors[i]['bio'][:40] }}...</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>



    <div class="p-0 bg-light border border-dark" id="content-box" >
        <h1 class="" style="color: #017bff; text-weight: 500; font-family: Georgia" id="title">Contents</h1>
        <ul class="ml-3 text-left" style="list-style: none;">
            {% for i in range(title_length) %}
            <li><a class="contentButton" href="#{{ titles[i] }}" style="font-family: Lato">{{ i + 1 }}.{{ titles[i] }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="text-left border-bottom">

        <div id="summary" class="p-3 my-3">
            <p class="pl-4 text-weight-light" style="line-height: 40px; font-size: 20px;">
                {{summary_actual | safe}}
            </p>
            <p class="pl-4 text-weight-light" style="line-height: 40px; font-size: 20px;">
                {% for i in range(method_length) %}
                <a href="/method/{{ method_id[i] }}">{{ methods_used[i] }}</a>
                {% endfor %}
            </p>
        </div>


    </div>

    <div class="container text-left mx-0">
        <div id="comments" class="p-3 my-3">


            <form method="POST" class="form">
                <div class="sticky-top form-group row">
                    <label for="comment" class="col-xs-2 col-form-label"><b>Leave a comment:</b> </label>
                    <div class="col">
                        <input type="text" name="comment" class="form-control text-wrap w-100" id="comment" placeholder="Write here...">
                    </div>
                    <div>
                        {% if y == "true" %}
                        <button class="btn btn-default" type="submit" value="{{summary_id}}" disabled>Post</button>
                        {% else %}
                        <button class="btn btn-default" type="submit" value="{{summary_id}}">Post</button>
                        {% endif %}
                    </div>
                </div>
            </form>

            {% for comment in comments %}
            {% if comment['reply'] == 1 and comment['last'] == 1 %}

                <div class="container" style="width: 80%">
                    <div>
                        {{ comment['comment'] }} &mdash; <span class="text-danger"> <a href="/public/{{ comment['user_id'] }}">{{ comment['username'] }}</a></span> on <span class="text-danger">{{ comment['date'] }}</span>
                        <!--{% if y == "true" %}
                            <button style="float: right;" class="btn btn-default" type="submit" name="like" value="like" disabled>Like</button>
                        {% else %}
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="dislike_comment" value="dislike_comment">
                                <i class="fa fa-thumbs-o-down" style="color: #017bff;"></i></button>
                            <span style="float: right;">{{ comment['likes'] }}</span>
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="like_comment" value="like_comment">
                                <i class="fa fa-thumbs-o-up" style="color: #017bff;"></i></button>
                        {% endif %}-->


                    <button class="btn btn-default bg-white" data-toggle="collapse" data-target="#reply{{ comment['comment_id'] }}{{ comment['reply'] }}" style="color: DodgerBlue;"><i class="fa fa-reply-all border-0 fa-lg"></i>  Reply</button>

</div>

                    <form method="POST" class="collapse" id="reply{{ comment['comment_id'] }}{{ comment['reply'] }}">
                        <div class="sticky-top form-group row">
                            <div class="col">
                                <input type="text" name="reply" class="form-control text-wrap w-100" id="reply" placeholder="Reply here...">
                            </div>
                            <div>
                            {% if y == "true" %}
                                <button class="btn btn-default" type="submit" value="{{ comment['id'] }}" disabled>Post</button>
                            {% else %}
                                <button class="btn btn-default" type="submit" name="comment_button" value="{{ comment['comment_id'] }}">Post</button>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            {% elif comment['reply'] == 1 %}
                <div class="container" style="width: 80%">
                    <div>
                       {{ comment['comment'] }} &mdash; <span class="text-danger"> <a href="/public/{{ comment['user_id'] }}">{{ comment['username'] }}</a></span> on <span class="text-danger">{{ comment['date'] }}</span>
                        <!--{% if y == "true" %}
                            <button style="float: right;" class="btn btn-default" type="submit" name="like" value="like" disabled>Like</button>
                        {% else %}
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="dislike_comment" value="dislike_comment">
                                <i class="fa fa-thumbs-o-down" style="color: #017bff;"></i></button>
                            <span style="float: right;">{{ comment['likes'] }}</span>
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="like_comment" value="like_comment">
                                <i class="fa fa-thumbs-o-up" style="color: #017bff;"></i></button>
                        {% endif %}-->
                    </div>


                    <!--<form method="POST" class="form">
                        <div class="sticky-top form-group row">
                            <label for="reply" class="col-xs-2 col-form-label">Want to reply? </label>
                            <div class="col">
                                <input type="text" name="reply" class="form-control text-wrap w-100" id="reply" placeholder="Reply here...">
                            </div>
                            <div>
                            {% if y == "true" %}
                                <button class="btn btn-default" type="submit" value="{{ comment['id'] }}" disabled>Submit</button>
                            {% else %}
                                <button class="btn btn-default" type="submit" name="comment_button" value="{{ comment['comment_id'] }}">Submit</button>
                            {% endif %}
                            </div>
                        </div>
                    </form>-->
                </div>
            {% else %}
                <div class="container">
                    <div>
                         {{ comment['comment'] }} &mdash;<span class="text-danger"><a href="/public/{{ comment['user_id'] }}"> {{ comment['username'] }}</a></span>  on <span class="text-danger">{{ comment['date'] }}</span>
                        <!--{% if y == "true" %}
                            <button style="float: right;" class="btn btn-default" type="submit" name="like" value="like" disabled>Like</button>
                        {% else %}
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="dislike_comment" value="dislike_comment">
                                <i class="fa fa-thumbs-o-down" style="color: #017bff;"></i></button>
                            <span style="float: right;">{{ comment['likes'] }}</span>
                            <button style="float: right;" class="btn btn-default bg-white btn-sm" type="submit" name="like_comment" value="like_comment">
                                <i class="fa fa-thumbs-o-up" style="color: #017bff;"></i></button>
                        {% endif %}-->


                    <button class="btn btn-default bg-white" data-toggle="collapse" data-target="#reply{{ comment['comment_id'] }}{{ comment['reply'] }}" style="color: DodgerBlue;"><i class="fa fa-reply-all border-0 fa-lg"></i>  Reply</button>
</div>


                    <form method="POST" class="form collapse hide" id="reply{{ comment['comment_id'] }}{{ comment['reply'] }}">
                        <div class="sticky-top form-group row">

                            <div class="col">
                                <input type="text" name="reply" class="form-control text-wrap w-100" id="reply" placeholder="Reply here...">
                            </div>
                            <div>
                            {% if y == "true" %}
                                <button class="btn btn-default" type="submit" value="{{ comment['id'] }}" disabled>Post</button>
                            {% else %}
                                <button class="btn btn-default" type="submit" name="comment_button" value="{{ comment['comment_id'] }}">Post</button>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

            <hr>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}