{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}


{% block main %}
<br>
<br>
<p><b style="color: DodgerBlue">Sign up to join the movement to decentralize scientific knowledge!</b></p>
<form action="/register" method="POST">
    <br>
    <input type="text" class="form-control" name="username" placeholder="username">
    <p></p>
    <input type="password" class="form-control" name="password" placeholder="password">
    <p></p>
    <input type="password" class="form-control" name="confirm" placeholder="confirm password">
    <p></p>
    <input type="text" class="form-control" name="email" placeholder="email">
    <p></p>
    <input type="submit" class="btn btn-primary">

</form>
{% endblock %}