{% extends "layout.html" %}
{% block title %}
    Suggestions
{% endblock %}
{% block main %}
<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em; ">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">AI Suggestions</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px"></p>
    </div>
    {% if p %}
    No suggestions left!

    {% elif q %}
    No suggestions left! <a href="/suggestions/0">🔄</a>
    {% else %}
    <div class="row border rounded">
        <div class="col-sm-12">

        <div class="col" style="text-align: left">
            <b>{{ info['title'][0]|upper}}{{info['title'][1:] }} from</b>  <i><a href="{{summary_info['link']}}">{{summary_info['article']}}</a></i>
            <div class="border-left border-primary bg-light" style="padding-left: 20px; padding-top: 10px; padding-bottom: 5px; border-left: 10px">
            <p>{{info['display']}}</p>
            </div><br>
            <b>Is this summary that Otto generated accurate, complete, and readable?</b>
        </div><br>
        <div class="col">
        <form method="POST" >
                    <textarea id="summernote" name="summary" id="summary">{{info['suggestion']}}</textarea>
                    <div class="container text-center">
                        <button class="btn btn-default bg-white btn-lg" type="submit">&#9989;</button>
                        <button type="submit" value="next" name="next" class="btn btn-default bg-white btn-lg">&#9193;</button>

                    </div>

        </form>


        </div>
        </div>
        </div>
    </div>



    {% endif %}
{% endblock %}