{% extends "layout.html" %}

{% block title %}
    {{ tags[0]['title'] }}
{% endblock %}

{% block main %}

<div class="container mt-5">
    <div class="text-left pl-3" style="font-size: 1.8em; ">
        <div class="d-inline ml-4" style="border-left: 4px solid orange;"></div>
        <div class="d-inline ml-2" style="color: #017bff">{{ tags[0]['title'] }}</div>
        <p class="ml-4 mt-2" style="font-size: 0.6em; border-bottom: 1px solid black; padding: 10px">{{ tags[0]['text'] }}
        {% if admin == 1 %}
        <button class="btn btn-link" style="padding-bottom:10px"data-target="#description" data-toggle="collapse">Edit</button>
        {% endif %}
        </p>
        <div class="collapse" id="description">
            <form method="POST">
                <textarea name="description" class="border20 w-100" rows="5" style="font-size: 12px; padding:10px">{{ tags[0]['text'] }}</textarea>
                <button class="btn btn-outline-primary border20">Submit</button>
            </form>
        </div>
    </div>
    {% if length == 0 %}
    No summaries on this topic!
    {% else %}

    <div>
        <div class="text-left pl-5">
            <div class="btn-group">
            <p>Sort By: <a style="cursor:pointer; color: #017bff" onclick="w3.sortHTML('#id01', 'li')">Hot</a>&nbsp | <a style="cursor:pointer; color: #017bff" onclick="w3.sortHTML('#id01', '.p-3', 'a')">A-Z</a>  |
            <div class="dropdown show" style="color: #017bff">
              <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  &nbsp Tags
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for i in range(tags_length) %}
                <a class="dropdown-item" href="/tag/{{ tags[i]['id'] }}/0" style="color: #017bff">{{ tags[i]['title'] }}</a>
                {% endfor %}
              </div>
            </div>
            </p>
            </div>
        </div>
        <ul style="text-align: left; list-style: none;" id="id01">
            {{ p }}
    {% for i in range(page_length) %}
    <li class="p-3" style="">
                <div class="row border-bottom border-dark pb-3">
                    <div class="col-1 text-center" id="likes" style="color: grey; font-size: 1.25em; width: 6%; margin: auto 0">

                        {{ titles[i]['likes'] }}
                        <p>likes</p>
                    </div>
                    <div class="col">
                        <div>
                            <a class="disabledButton" href="/read/{{ titles[i]['summary_id'] }}" style="color: #017bff; font-size: 1.4em; font-weight: 200;">{{ titles[i]["article"] }}</a>
                        </div>
                        <div class="pl-1" style="font-size: 0.8em">
                            Dcyphr-d by <a class="disabledButton" href="/public/{{ titles[i]['id'] }}" style="color: Red">@{{ titles[i]["username"] }}</a>
                        </div>
                        <div class="p-2" style="font-size: 0.95em">
                            {{ preview[i] }}...
                        </div>
                    </div>
                </div>
                <div class=""></div>
            </li>
    {% endfor %}
</ul>
</div>
{% endif %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page == 0 and x %}
        <li class="page-item">
        {% elif page == 0 %}
        <li class="page-item disabled">
        {% endif %}
          <a class="page-link" href="/tag/{{ tag_id }}/{{ page - 1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for i in range(number) %}
        <li class="page-item"><a class="page-link" href="/tag/{{ tag_id }}/{{ i }}">{{ i+1 }}</a></li>
        {% endfor %}
        {% if page == number - 1 %}
        <li class="page-item disabled">
        {% else %}
        <li class="page-item">
        {% endif %}
          <a class="page-link" href="/tag/{{ tag_id }}/{{ page + 1 }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
</div>
{% endblock %}